CompileFlags:
    Add: [-xc, -std=gnu23, -Wall, -Wextra, -pedantic, -Werror=return-type, -Iinclude, -Iinclude/SDL3, -Iinclude/external/cglm/include]
    Compiler: clang
Completion:
    MacroFilter: FuzzyMatch
Diagnostics:
    UnusedIncludes: None
    MissingIncludes: None
