CompileFlags:
    Add: [-xc, -std=gnu23, -Wall, -Wextra, -pedantic, -Werror=return-type, -Iinclude]
    Compiler: clang
Completion:
    MacroFilter: FuzzyMatch
Diagnostics:
    UnusedIncludes: None
    MissingIncludes: None
